label#thunbnaill {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thunbnaill input{
    display: none;
}

label#thunbnaill.has-thunbnaill {
    border: 0;
}

label#thunbnaill.has-thunbnaill img {
    display: none;
}